<!-- <button (click)="swithTheme()">
    {{ theme === 'light' ? "swith to dark" : "swith to light" }}
</button> 

<button pButton type="button" [ngClass]="{'light': theme == 'light', 'dark': theme == 'dark'}" label="Click" ></button>
<p-button label="Click" ></p-button>

-->

<p-dialog position="top" [(visible)]="display" [transitionOptions]="'350ms'" [breakpoints]="{'1400px': '50vw', '970px': '50vw', '1050px': '60vw',  '870px': '70vw', '750px': '80vw', '660px': '100vw', '520px': '100vw',  '480px': '100vw', '370px': '100vw' }" [style]="{width: '40vw'}">
    <ng-template pTemplate="header">
        {{ month + ' ' + day + ', ' + year }}
        <button pButton type="button" style="margin-left: 40%;" [ngClass]="{'light': theme == 'light', 'dark': theme == 'dark'}" label="Create new" ></button>
    </ng-template>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa illo placeat neque itaque rerum dolore similique quo laborum, laudantium velit praesentium? Magnam architecto dicta officia dolores esse in eos ea!  
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa illo placeat neque itaque rerum dolore similique quo laborum, laudantium velit praesentium? Magnam architecto dicta officia dolores esse in eos ea!  
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa illo placeat neque itaque rerum dolore similique quo laborum, laudantium velit praesentium? Magnam architecto dicta officia dolores esse in eos ea!   
    <ng-template pTemplate="footer">
        <p-button (click)="display=false" label="Cerrar" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

<div class="calendar">
    <div class="calendar-header">
        <span (click)="toMonthComponent()" class="month-picker" id="month-picker">{{month}}</span>
        <div class="year-picker">
            <span (click)="lessYears()" class="year-change" id="prev-year">
                <i class="fas fa-angle-left prev"></i>
            </span>
            <span id="year">{{ year }}</span>
            <span (click)="moreYears()" class="year-change" id="next-year">
                <i class="fas fa-angle-right next"></i>
            </span>
        </div>
    </div>
    <div class="calendar-body">
        <div class="calendar-week-day">
            <div>Sun</div>
            <div>Mon</div>
            <div>Tue</div>
            <div>Wed</div>
            <div>Thu</div>
            <div>Fri</div>
            <div>Sat</div>
        </div>
        <div class="calendar-days">
            <div (click)="showDialog(1)" class="calendar-day-hover ">
                1
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(2)" class="calendar-day-hover">
                2
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(3)" class="calendar-day-hover">
                3
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(4)" class="calendar-day-hover">
                4
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(5)" class="calendar-day-hover">
                5
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(6)" class="calendar-day-hover">
                6
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(7)" class="calendar-day-hover">
                7
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(8)" class="calendar-day-hover">
                8
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(9)" class="calendar-day-hover">
                9
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(10)" class="calendar-day-hover">
                10
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(11)" class="calendar-day-hover">
                11
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(12)" class="calendar-day-hover">
                12
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(13)" class="calendar-day-hover">
                13
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(14)" class="calendar-day-hover">
                14
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(15)" class="calendar-day-hover">
                15
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(16)" class="calendar-day-hover">
                16
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(17)" class="calendar-day-hover">
                17
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(18)" class="calendar-day-hover">
                18
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(19)" class="calendar-day-hover">
                19
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(20)" class="calendar-day-hover">
                20
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(21)" class="calendar-day-hover">
                21
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(22)" class="calendar-day-hover">
                22
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(23)" class="calendar-day-hover">
                23
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(24)" class="calendar-day-hover">
                24
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(25)" class="calendar-day-hover">
                25
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(26)" class="calendar-day-hover">
                26
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(27)" class="calendar-day-hover">
                27
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(28)" class="calendar-day-hover">
                28
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div  *ngIf="month != 'February' || month == 'February' && isleapyear()" (click)="showDialog(29)" class="calendar-day-hover">
                29
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div *ngIf="month != 'February'" (click)="showDialog(30)" class="calendar-day-hover">
                30
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div *ngIf="month == 'January' || month == 'March' || month == 'May' || month == 'July' || month == 'August' || month == 'October' || month == 'December'" (click)="showDialog(31)" class="calendar-day-hover">
                31
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

    <div class="calendar-footer">
        <div class="toggle">
            <span style="font-size: 20px">{{ themeTittle }} Mode</span>
            <div class="dark-mode-switch" (click)="swithTheme()">
                <div class="dark-mode-switch-ident"></div>
            </div>
        </div>
    </div>

    <!-- Month -->
    <div class="month-list">
        <!-- show -->
        <div data-month="0">January</div>
        <div data-month="1">February</div>
        <div data-month="2">March</div>
        <div data-month="3">April</div>
        <div data-month="4">May</div>
        <div data-month="5">June</div>
        <div data-month="7">July</div>
        <div data-month="8">August</div>
        <div data-month="9">September</div>
        <div data-month="10">October</div>
        <div data-month="11">November</div>
        <div data-month="12">December</div>
    </div>
</div>

