<!-- <button (click)="swithTheme()">
    {{ theme === 'light' ? "swith to dark" : "swith to light" }}
</button> 

<button pButton type="button" [ngClass]="{'light': theme == 'light', 'dark': theme == 'dark'}" label="Click" ></button>
<p-button label="Click" ></p-button>

-->

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
            d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </symbol>
</svg>

<!-- Error Alert -->
<div *ngIf="message['error']" class="alert alert-danger d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
        <use xlink:href="#exclamation-triangle-fill" />
    </svg>
    <div>
        <strong style="margin-left: 9px">
            {{ taskRepeated }}
        </strong>
        <strong *ngFor="let error of errors">
            {{ error }}
        </strong>
    </div>
</div>

<!-- Success Alert -->
<div *ngIf="message['success']" style="margin-right: 36%; margin-left: 34%;"
    class="alert alert-success d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
        <use xlink:href="#check-circle-fill" />
    </svg>
    <div>
        <strong style="margin-left: 9px">Saved sucessfully</strong>
    </div>
</div>


<p-dialog position="top" [(visible)]="display" [transitionOptions]="'350ms'"
    [breakpoints]="{'1400px': '50vw', '970px': '50vw', '1050px': '60vw',  '870px': '70vw', '750px': '80vw', '660px': '100vw', '520px': '100vw',  '480px': '100vw', '370px': '100vw' }"
    [style]="{width: '40vw'}">
    <ng-template pTemplate="header">
        <span style="font-weight: bold; font-size: 22px">{{ month + ' ' + day + ', ' + year }} </span> 
        <button (click)="showCreateTask()" pButton type="button" style="margin-left: 40%;"
            [ngClass]="{'light': theme == 'light', 'dark': theme == 'dark'}" label="Create new"></button>
    </ng-template>

    <!-- Card's task -->
    <div class="card" *ngFor="let task of tasks" style="margin-top: 15px;">
        <div class="card-header" [ngStyle]="{'background-color': '#4f8a8b', 'color': 'white'}">

            <div [ngStyle]="{'font-weight': 'bold'}">{{task.title}}
                <button style="margin-right: 10px" class="text-center" type="button" class="btn btn-primary">
                    <svg data-dismiss="modal" aria-label="Close" width="18px" height="18px" viewBox="0 0 16 16"
                        class="bi bi-pencil-square edit-modal" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd"
                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg>
                </button>
                <button type="button" class="btn btn-danger">
                    <svg width="18px" height="18px" viewBox="0 0 16 16"
                        class="bi bi-trash delete-model" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                        <path fill-rule="evenodd"
                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                    </svg>
                </button>

            </div>
        </div>
        <div class="card-body">
            <div class="category">
                <span> <strong>Category: </strong>  </span> {{task.category}}
            </div>
            <div class="category">
                <span> <strong>Description:</strong></span> {{task.description}}
            </div>
        </div>
    </div>

    <ng-template pTemplate="footer">
        <p-button (click)="display=false" label="Cerrar" styleClass="p-button-danger"></p-button>
    </ng-template>
</p-dialog>

<!-- Form Create new task -->
<p-dialog position="top" [(visible)]="displayCreateTask" [transitionOptions]="'350ms'"
    [breakpoints]="{'1400px': '40vw', '970px': '40vw', '1050px': '50vw',  '870px': '60vw', '750px': '70vw', '660px': '80vw', '520px': '90vw',  '480px': '100vw', '370px': '100vw' }"
    [style]="{width: '30vw'}">
    <ng-template pTemplate="header">
        <strong style="font-size: 22px">Create new task</strong>
    </ng-template>

    <!-- Modal body -->
    <form #taskForm="ngForm" (ngSubmit)="saveTask(taskForm)">
        <!-- Title -->
        <div class="form-group has-danger has-success">
            <label for="title"> <strong>Title</strong></label>
            <input type="text" name="title" id="title" #title="ngModel" [(ngModel)]="task.title" autocomplete="off"
                class="form-control" [ngClass]="{
                'is-invalid': title.touched && !title.valid,
                'is-valid': title.touched && title.valid}" required pattern="^([a-zA-Z _]|[à-ú]|[À-Ú])+$">
            <div *ngIf="title.touched && !title.valid">
                <span [ngStyle]="{'color': 'red'}">Title is incorrect</span>
            </div>
        </div>
        <!-- Description -->
        <div class="form-group has-danger has-success">
            <label for="description"> <strong>Description</strong></label>
            <textarea name="description" id="description" rows="3" #description="ngModel" [(ngModel)]="task.description"
                autocomplete="off" class="form-control" [ngClass]="{'is-invalid': description.touched && !description.valid,
                            'is-valid': description.touched && description.valid}" required
                pattern="^([0-9a-zA-Z _]|[à-ú]|[À-Ú])+$"></textarea>
            <div *ngIf="description.touched && !description.valid">
                <span [ngStyle]="{'color': 'red'}">Description is incorrect</span>
            </div>
        </div>
        <!-- Category -->
        <div class="form-group has-danger has-success">
            <label for="category"> <strong>Category</strong></label>
            <select class="form-control" [ngClass]="{
                    'is-invalid': category.touched && !category.valid,
                    'is-valid': category.touched && category.valid}" id="category" name="category" #category="ngModel"
                [(ngModel)]="task.category" required>
                <option *ngFor="let category of categories" [value]="category.name">
                    {{category.name}}
                </option>
            </select>
            <div *ngIf="category.touched && !category.valid">
                <span [ngStyle]="{'color': 'red'}">Category is incorrect</span>
            </div>
        </div>

        <div class="row" style="margin-left: 71%;">
            <input style="margin-left: 10px" type="submit" value="Guardar" class="btn btn-primary"
                [disabled]="!taskForm.form.valid">
        </div>
    </form>
</p-dialog>

<div class="calendar">
    <div class="calendar-header">
        <span (click)="toMonthComponent()" class="month-picker" id="month-picker">{{month}}</span>
        <div class="year-picker">
            <span (click)="lessYears()" class="year-change" id="prev-year">
                <i class="fas fa-angle-left prev"></i>
            </span>
            <span id="year">{{ year }}</span>
            <span (click)="moreYears()" class="year-change" id="next-year">
                <i class="fas fa-angle-right next"></i>
            </span>
        </div>
    </div>
    <div class="calendar-body">
        <div class="calendar-week-day">
            <div>Sun</div>
            <div>Mon</div>
            <div>Tue</div>
            <div>Wed</div>
            <div>Thu</div>
            <div>Fri</div>
            <div>Sat</div>
        </div>
        <div class="calendar-days">
            <div (click)="showDialog(1)" class="calendar-day-hover ">
                1
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(2)" class="calendar-day-hover">
                2
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(3)" class="calendar-day-hover">
                3
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(4)" class="calendar-day-hover">
                4
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(5)" class="calendar-day-hover">
                5
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(6)" class="calendar-day-hover">
                6
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(7)" class="calendar-day-hover">
                7
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(8)" class="calendar-day-hover">
                8
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(9)" class="calendar-day-hover">
                9
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(10)" class="calendar-day-hover">
                10
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(11)" class="calendar-day-hover">
                11
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(12)" class="calendar-day-hover">
                12
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(13)" class="calendar-day-hover">
                13
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(14)" class="calendar-day-hover">
                14
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(15)" class="calendar-day-hover">
                15
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(16)" class="calendar-day-hover">
                16
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(17)" class="calendar-day-hover">
                17
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(18)" class="calendar-day-hover">
                18
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(19)" class="calendar-day-hover">
                19
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(20)" class="calendar-day-hover">
                20
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(21)" class="calendar-day-hover">
                21
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(22)" class="calendar-day-hover">
                22
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(23)" class="calendar-day-hover">
                23
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(24)" class="calendar-day-hover">
                24
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(25)" class="calendar-day-hover">
                25
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(26)" class="calendar-day-hover">
                26
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(27)" class="calendar-day-hover">
                27
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div (click)="showDialog(28)" class="calendar-day-hover">
                28
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div *ngIf="month != 'February' || month == 'February' && isleapyear()" (click)="showDialog(29)"
                class="calendar-day-hover">
                29
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div *ngIf="month != 'February'" (click)="showDialog(30)" class="calendar-day-hover">
                30
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div *ngIf="month == 'January' || month == 'March' || month == 'May' || month == 'July' || month == 'August' || month == 'October' || month == 'December'"
                (click)="showDialog(31)" class="calendar-day-hover">
                31
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

    <div class="calendar-footer">
        <div class="toggle">
            <span style="font-size: 20px">{{ themeTittle }} Mode</span>
            <div class="dark-mode-switch" (click)="swithTheme()">
                <div class="dark-mode-switch-ident"></div>
            </div>
        </div>
    </div>

    <!-- Month -->
    <div class="month-list">
        <!-- show -->
        <div data-month="0">January</div>
        <div data-month="1">February</div>
        <div data-month="2">March</div>
        <div data-month="3">April</div>
        <div data-month="4">May</div>
        <div data-month="5">June</div>
        <div data-month="7">July</div>
        <div data-month="8">August</div>
        <div data-month="9">September</div>
        <div data-month="10">October</div>
        <div data-month="11">November</div>
        <div data-month="12">December</div>
    </div>
</div>