<!-- <button (click)="swithTheme()">
    {{ theme === 'light' ? "swith to dark" : "swith to light" }}
</button> 

<button pButton type="button" [ngClass]="{'light': theme == 'light', 'dark': theme == 'dark'}" label="Click" ></button>
<p-button label="Click" ></p-button>

-->

<div class="calendar">
   
    <div class="calendar-body">
       
        <div class="calendar-days">
            <div class="calendar-day-hover ">
                
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="calendar-day-hover">
                
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="calendar-day-hover">
                
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="calendar-day-hover">
                
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="calendar-day-hover">
                
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="calendar-day-hover">
                
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="calendar-day-hover">
                
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="calendar-day-hover">
                
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="calendar-day-hover">
                
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="calendar-day-hover">
                
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="calendar-day-hover">
                
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="calendar-day-hover">
                
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="calendar-day-hover">
                
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="calendar-day-hover">
                
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="calendar-day-hover">
                
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="calendar-day-hover">
                
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="calendar-day-hover">
                
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="calendar-day-hover">
                
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="calendar-day-hover">
                
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="calendar-day-hover">
                
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="calendar-day-hover">
                
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="calendar-day-hover">
                
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="calendar-day-hover">
                
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="calendar-day-hover">
                
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="calendar-day-hover">
                
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="calendar-day-hover">
                
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="calendar-day-hover">
                
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="calendar-day-hover">
                
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="calendar-day-hover">
                
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="calendar-day-hover">
                
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="calendar-day-hover">
                
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

   

    <!-- Month -->
    <div class="month-list show">
        <!-- show -->
        <div (click)="toCalendar()" data-month="0">January</div>
        <div (click)="toCalendar()" data-month="1">February</div>
        <div (click)="toCalendar()" data-month="2">March</div>
        <div (click)="toCalendar()" data-month="3">April</div>
        <div (click)="toCalendar()" data-month="4">May</div>
        <div (click)="toCalendar()" data-month="5">June</div>
        <div (click)="toCalendar()" data-month="7">July</div>
        <div (click)="toCalendar()" data-month="8">August</div>
        <div (click)="toCalendar()" data-month="9">September</div>
        <div (click)="toCalendar()" data-month="10">October</div>
        <div (click)="toCalendar()" data-month="11">November</div>
        <div (click)="toCalendar()" data-month="12">December</div>
    </div>
</div>



